# Picking related articles.

In [13]:
import pandas as pd

from scipy.spatial.distance import jensenshannon

import joblib

from IPython.display import HTML, display
from ipywidgets import interact, Layout, HBox, VBox, Box
import ipywidgets as widgets
from IPython.display import clear_output

import matplotlib.pyplot as plt

plt.style.use("dark_background")

In [2]:
lda = joblib.load('lda_2016.csv')
data_vectorized = joblib.load('data_vectorized_2016.csv')
vectorizer = joblib.load('vectorizer2016.csv')
df = pd.read_csv('../csv/2016_03.csv')

In [4]:
doc_topic_dist = pd.DataFrame(lda.transform(data_vectorized))

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,0.238411,0.000106,0.000106,0.000106,0.000106,0.000106,0.107994,0.000106,0.000106,0.000106,...,0.000106,0.000106,0.000106,0.000106,0.000106,0.000106,0.000106,0.000106,0.000106,0.000106
1,0.000039,0.000039,0.000039,0.000039,0.000039,0.005645,0.000039,0.000039,0.000039,0.135734,...,0.000039,0.000039,0.000039,0.024726,0.000039,0.000039,0.000039,0.000039,0.000039,0.000039
2,0.000053,0.000053,0.000053,0.000053,0.000053,0.000053,0.000053,0.000053,0.090053,0.000053,...,0.000053,0.000053,0.000053,0.008197,0.000053,0.000053,0.000053,0.000053,0.077419,0.000053
3,0.000042,0.000042,0.000042,0.000042,0.000042,0.000042,0.000042,0.000042,0.009310,0.006844,...,0.000042,0.000042,0.000042,0.000042,0.253911,0.000042,0.000042,0.000042,0.000042,0.000042
4,0.000120,0.122083,0.000120,0.000120,0.000120,0.000120,0.151994,0.000120,0.000120,0.019859,...,0.085292,0.000120,0.000120,0.000120,0.000120,0.000120,0.000120,0.000120,0.084412,0.000120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55044,0.000038,0.000038,0.000038,0.000038,0.000038,0.000038,0.000038,0.355069,0.000038,0.000038,...,0.000038,0.187572,0.000038,0.000038,0.000038,0.000038,0.000038,0.000038,0.000038,0.000038
55045,0.000058,0.000058,0.000058,0.000058,0.000058,0.000058,0.000058,0.023087,0.000058,0.000058,...,0.000058,0.000058,0.000058,0.000058,0.081981,0.000058,0.000058,0.000058,0.000058,0.000058
55046,0.381246,0.000102,0.000102,0.106139,0.000102,0.000102,0.392331,0.000102,0.000102,0.000102,...,0.000102,0.000102,0.000102,0.007279,0.000102,0.000102,0.000102,0.000102,0.000102,0.000102
55047,0.000055,0.000055,0.000055,0.405778,0.000055,0.000055,0.066562,0.000055,0.000055,0.031452,...,0.008498,0.000055,0.000055,0.000055,0.000055,0.000055,0.000055,0.000055,0.248498,0.016294
55048,0.000114,0.000114,0.000114,0.000114,0.000114,0.000114,0.000114,0.553887,0.000114,0.000114,...,0.000114,0.000114,0.000114,0.000114,0.000114,0.000114,0.000114,0.000114,0.000114,0.000114

In [19]:
def print_top_words(model, vectorizer, n_top_words):
    feature_names = vectorizer.get_feature_names_out()
    for topic_idx, topic in enumerate(model.components_):
        message = "\nTopic #%d: " % topic_idx
        message += " ".join([feature_names[i]
                             for i in topic.argsort()[:-n_top_words - 1:-1]])
        print(message)
    print()

In [21]:
print_top_words(lda, vectorizer, n_top_words=25)

Topic #0: use like make new not technology one also design camera get work app look system vr you device well car google even video build way

Topic #1: say police court case officer charge judge report law arrest lawyer crime justice attorney accord lawsuit tell prosecutor claim file investigation statement prison trial department

Topic #2: song music album band record space release year new track time not first one video last show make singer take fight like go fan tour

Topic #3: health say drug study patient use medical people dr care research doctor find one year also not disease researcher cancer treatment new may percent would

Topic #4: zika option next section indicate icon previous menu sometimes virus chevron navigation expandable case outbreak mosquito say health spread pregnant disease woman infection microcephaly infect

Topic #5: de brazil la brazilian rio mexico le ford paulo et des janeiro rousseff du sao mexican un sa il paris city est les france en

Topic #6: company say business million billion deal year market firm sell industry sale investment executive new group plan would buy include investor also offer report last

Topic #7: say house would senate bill president obama committee congress republican vote court republicans democrats leader year rule senator lawmaker member not sen trump supreme could

Topic #8: say russia iran russian saudi united states president foreign nuclear country putin we sanction deal would official mr world arabia moscow obama iranian international minister

Topic #9: school student make restaurant college say one food year university like cook wine get teacher coffee work class education day not chef serve use drink

Topic #10: people black gun white woman community right law say gay many america violence political american gender president one man issue use make group also country

Topic #11: not do go like get think people say know want make thing one re really time would you ve that see way feel good come

Topic #12: game season first run two point hit start say last three second score lead get play win go four one five team inning home make

Topic #13: climate car say year vehicle change world emission global could planet scientist new fuel carbon earth air we temperature storm sea weather ocean ice one

Topic #14: hill view washington dc discussion street inc corp 2019 communications 900 content subsidiary capitol suite publishing news site tel thread fax nw 1625 2026288500 2026288503

Topic #15: china chinese say beijing trade we country taiwan year south government foreign international shanghai official us states united asia also sea fcc yuan asian report

Topic #16: say state government syria islamic force group refugee syrian attack isis turkey war military iraq country people year last border would militant security party official

Topic #17: say mr email new official department report fbi former investigation state director release news letter york secretary president information statement intelligence write friday tell national

Topic #18: say people woman kill country group right year police attack mr one man government war israel protest force military many human family two muslim violence

Topic #19: clinton campaign state vote voter election sander say democratic candidate percent poll party hillary trump win presidential new republican primary support president race bernie lead

Topic #20: apple company app iphone new service google customer phone amazon product store say device also year consumer mobile samsung microsoft use make user smartphone not

Topic #21: million company source coverage text share reuters reuter per eikon say 2016 newsroom inc revenue year earning euro ltd net report co billion versus bengaluru

Topic #22: security information use datum government say law attack privacy system access hack abortion would company case email fbi one not could internet report agency hacker

Topic #23: trump say donald mr campaign republican not trumps would president clinton cruz presidential candidate do make election go debate he new one call party hillary

Topic #24: team game player say sport play year win coach one league world first football athlete time make two take match fan olympic last go would

Topic #25: cramer say stock fund company airport money airline hedge investor take gawker travel cohen one not passenger hogan thiel make get time year jim capital

Topic #26: book show season episode story series character one write not new read novel first get also see writer make like fan go end know tv

Topic #27: hill not do say trump senate dc news capitol view run site thread suite 900 communications 2019 street fax publishing inc corp tel washington discussion

Topic #28: art work artist music museum one new make world show create piece exhibition like image project painting paint also dance history gallery culture form way

Topic #29: percent price market oil rate say high we stock low rise fall year week dollar since last crude fed point index gain month new report

Topic #30: colbert good stephen democratic candidate el roast meyer jackson dad giphy high bon emoji seth via school debate offer story impression destroy scandal animal different

Topic #31: mr award year prince show star actor say first film good new also long oscar royal include father actress night role son performance die hamilton

Topic #32: look wear fashion woman new dress show photo star instagram hair say love also not girl one share take make get she post kardashian year

Topic #33: say pay money company tax financial new business make employee work million would worker job fund bank mr year uber not also one account take

Topic #34: say european britain eu union minister british would europe uk london leave vote france brexit french country prime government referendum may tell germany attack brussels

Topic #35: film game movie like one play make not star new character year also time well get first way world good see show war take story

Topic #36: state would government year law say country people program federal public new make policy many states plan tax one million system american united immigration canada

Topic #37: food eat you re today moon time get not make sign new diet also sugar day good milk ll do like fat way people come

Topic #38: one say not like get time go man back come day take tell know would do make friend life family see could night love he

Topic #39: north korea south report korean dog security nuclear cat information animal kim test koreas fitch japan particular seoul issue pet verification missile make use launch

Topic #40: say flight air plane report military aircraft ship would force fly defense we passenger pilot airline official rocket union russian jet united test us international

Topic #41: water say energy state gas oil power plant environmental land use flint coal city project year natural lead area clean farmer farm industry supply government

Topic #42: city new mr york street park say building include west home year house hotel ms open theater manhattan build brooklyn work space center live project

Topic #43: facebook medium video twitter news social user post content ad people new online story internet live like platform company site tweet network say app also

Topic #44: percent bank say year market billion report growth rate rise fall quarter share economy expect investor analyst euro bond central last low stock month financial

Topic #45: pm 10 street saturday hong kong sunday friday australia july march australian new art free 11 tuesday center monday thursday wednesday avenue 30 april may

Topic #46: rating fitch credit debt loan bank rate available financial risk capital senior issuer entity criterion support follow provide service 2016 expect market 2015 term also

Topic #47: 2016 photo post november august pdt july january october september 14 2015 march 13 december 29 pst comment mashable thailand 18 anthem 22 27 24

Topic #48: say people ms one tell family go day two fire see child take home time not man find leave die mother hour year life hospital

Topic #49: race gold cnbc olympic world ticket year golf say fox second first medal event horse win last finish time rio day swimmer one two tour

In [6]:
def get_k_nearest_docs(doc_dist, k=5, get_dist=False):
    '''
    doc_dist: topic distribution (sums to 1) of one article
    
    Returns the index of the k nearest articles (as by Jensen–Shannon divergence in topic space). 
    '''
    temp = doc_topic_dist
         
    distances = temp.apply(lambda x: jensenshannon(x, doc_dist), axis=1)
    k_nearest = distances[distances != 0].nsmallest(n=k).index
    
    if get_dist:
        k_distances = distances[distances != 0].nsmallest(n=k)
        return k_nearest, k_distances
    else:
        return k_nearest

In [7]:
def plot_article_dna(title, width=20):
    t = df[df['title'] == title].title.values[0]
    doc_topic_dist[df['title'] == title].T.plot(kind='bar', legend=None, title=t, figsize=(width, 4))
    plt.xlabel('Topic')

def compare_dnas(title, recommendation_title, width=20):
    t = df[df['title'] == recommendation_title].title.values[0]
    temp = doc_topic_dist[df['title'] == title]
    ymax = temp.max(axis=1).values[0]*1.25
    temp = pd.concat([temp, doc_topic_dist[df['title'] == recommendation_title]])
    temp.T.plot(kind='bar', title=t, figsize=(width, 4), ylim= [0, ymax])
    plt.xlabel('Topic')
    plt.legend(['Selection', 'Recommendation'])

def dna_tabs(titles):
    k = len(titles)
    outs = [widgets.Output() for i in range(k)]

    tab = widgets.Tab(children = outs)
    tab_titles = ['Paper ' + str(i+1) for i in range(k)]
    for i, t in enumerate(tab_titles):
        tab.set_title(i, t)
    display(tab)

    for i, t in enumerate(tab_titles):
        with outs[i]:
            ax = plot_article_dna(titles[i])
            plt.show(ax)

def compare_tabs(title, recommendation_ids):
    k = len(recommendation_ids)
    outs = [widgets.Output() for i in range(k)]

    tab = widgets.Tab(children = outs)
    tab_titles = ['Paper ' + str(i+1) for i in range(k)]
    for i, t in enumerate(tab_titles):
        tab.set_title(i, t)
    display(tab)

    for i, t in enumerate(tab_titles):
        with outs[i]:
            ax = compare_dnas(title, recommendation_ids[i])
            plt.show(ax)

In [8]:
def recommendation(title, k=5, plot_dna=False):
    '''
    Returns the title of the k papers that are closest (topic-wise) to the paper given through title.
    '''
    display(df[df.title == title])

    recommended, dist = get_k_nearest_docs(doc_topic_dist[df['title'] == title].iloc[0], k, get_dist=True)
    recommended = df.iloc[recommended].copy()
    recommended['similarity'] = 1 - dist 
    
    h = '<br/>'.join(['<a href="' + l + '" target="_blank">'+ n + '</a>' +' (Similarity: ' + "{:.2f}".format(s) + ')' for l, n, s in recommended[['url','title', 'similarity']].values])
    display(HTML(h))
    
    if plot_dna:
        compare_tabs(title, recommended['title'].values)

In [18]:
recommendation("Health Watch: Back Pain Overview", k=10, plot_dna=True)

,year,date,month,day,author,title,article,url,section,publication
7106,2016,2016-08-03,8.0,3,NaN,Health Watch: Back Pain Overview,graphiq i d 1zj8ypuuhbz graphiq i d 86h0dyo1d8...,http://www.reuters.com/article/us-healthwatch-...,Journalists,Reuters

Tab(children=(Output(), Output(), Output(), Output(), Output(), Output(), Output(), Output(), Output(), Output…

In [10]:
def relevant_articles(tasks, k=5):
    tasks = [tasks] if type(tasks) is str else tasks 
    
    tasks_vectorized = vectorizer.transform(tasks)
    tasks_topic_dist = pd.DataFrame(lda.transform(tasks_vectorized))

    for index, bullet in enumerate(tasks):
        print(bullet)
        recommended, dist = get_k_nearest_docs(tasks_topic_dist.iloc[index], k, get_dist=True)
        recommended = df.iloc[recommended].copy()
        recommended['similarity'] = 1 - dist 

        h = '<br/>'.join(['<a href="' + l + '" target="_blank">'+ n + '</a>' +' (Similarity: ' + "{:.2f}".format(s) + ')' for l, n, s in recommended[['url','title', 'similarity']].values])
        display(HTML(h))

In [24]:
def relevant_articles_for_text():    
    textW = widgets.Textarea(
        value='',
        placeholder='Type something',
        description='',
        disabled=False,
        layout=Layout(width='90%', height='200px')
    )

    kWidget = widgets.IntSlider(value=10, description='Number of articles', max=50, min=1, layout=Layout(width='50%'))

    button = widgets.Button(description="Search")

    display(VBox([HBox([kWidget], layout=Layout(width='90%', justify_content='space-around')),
        textW, button], layout=Layout(align_items='center')))

    def on_button_clicked(b):
        clear_output()
        display(VBox([HBox([kWidget], layout=Layout(width='90%', justify_content='space-around')),
            textW, button], layout=Layout(align_items='center')))        
        relevant_articles(textW.value, kWidget.value)

    button.on_click(on_button_clicked)

In [25]:
relevant_articles_for_text()

VBox(children=(HBox(children=(IntSlider(value=10, description='Number of articles', layout=Layout(width='50%')…

hi